<form asp-controller="Profile" asp-action="CreateProfile" method="post">

    Full Name: <input type="text" name="txtFullName" /><br />
    Age: <input type="text" name="txtAge" /><br />
    Height: <input type="text" name="txtHeight" /><br />
    Weight: <input type="text" name="txtWeight" /><br />
    Occupation: <input type="text" name="txtOccupation" /><br />
    Phone: <input type="text" name="txtPhone" /><br />
    Address: <input type="text" name="txtAddress" /><br />
    City: <input type="text" name="txtCity" /><br />
    State: <input type="text" name="txtState" /><br />
    Photo URL: <input type="text" name="txtPhotoURL" /><br />
    Description: <input type="text" name="txtDescription" /><br />
    Goals: <input type="text" name="txtGoals" /><br />
    Commitment Type: <input type="text" name="txtCommitmentType" /><br />
    Favorite Movie: <input type="text" name="txtMovie" /><br />
    Favorite Restaurant: <input type="text" name="txtRestaurant" /><br />
    Favorite Book: <input type="text" name="txtBook" /><br />
    Favorite Poem: <input type="text" name="txtPoem" /><br />
    Favorite Quote: <input type="text" name="txtQuote" /><br />

    <input type="submit" value="Create Profile" />

</form>